.clb-scroll-top {
    color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    left: calc(100% - 3rem);
    position: fixed;
    height: 100px;
    z-index: 4;
    top: 38%;
    left: 1rem;
    -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
    -webkit-transform: rotate(-90deg) translate(-50%, 50%);
        -ms-transform: rotate(-90deg) translate(-50%, 50%);
            transform: rotate(-90deg) translate(-50%, 50%); 
        
}
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      .clb-scroll-top {
        left: 30px;
     } 
}
    @media screen and (max-width: 1024px) {
      .clb-scroll-top {
        left: 30px; } 
    }
    @media screen and (max-width: 768px) {
      .clb-scroll-top {
        left: 20px; } 
    }
    .clb-scroll-top-holder {
      white-space: nowrap;
      font-weight: 500;
    }


    .clb-scroll-top-bar {
      width: 60px;
      height: 2px;
      margin-right: 15px;
      position: relative;
      top: 15px;
      left: -80px;
    
    }
      .clb-scroll-top-bar:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: currentColor;
        opacity: .3;
     }

      .clb-scroll-top-bar .scroll-track {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: currentColor; 
    }

    .clb-scroll-top.clb-slider-scroll-top {
      visibility: visible;
      opacity: 1; 
    }

      .clb-scroll-top.clb-slider-scroll-top .clb-scroll-top-bar .scroll-track {
        width: 0;
        -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    }