@import '../../styles/variables.scss';

.lightbox-wrapper {
	position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #000000a8;
	visibility: hidden;
    z-index: 2;

	.lightbox-inner {
		visibility: hidden;

		.lightbox-content {
			color: $textA;
			background-color: #18161A;
			border-radius: 2px;
			padding: 1rem;
			width: 80%;
			display: flex;
			justify-content: center;
			align-items: center;

		}

	}

}