@import '../../styles/variables.scss';

.btn-circle {
    position: relative;
    width: 46px;
    height: 46px;
    border: 2px solid transparent;
    background-color: $btn-background;
    border-radius: 56px;
    margin: 1rem 0.4rem;
    outline: 0;
    color: $textA;

    .icon {
        position: absolute;
        top: 13px;
        left: 13px;
    }
    
}


.btn-square {
    position: relative;
    color: $icon-color;
    font-weight: 700;
    padding:  1.5rem 2rem;
    font-size: 0.75rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: $btn-boxShadow;
    max-height: 14px;
    transition: 0.5s;

    &:hover {
        color: $bolt-blue;
        box-shadow: $btn-boxShadow-hover;
        
        span:nth-child(1){
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background: linear-gradient(to right, #0c002b, $bolt-blue);
            animation: slideRotation1 0.5s linear forwards;
        }
    
        // span:nth-child(2){
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 2px;
        //     height: 100%;
        //     background: linear-gradient(to bottom, #0c002b, $bolt-blue);
        //     animation: slideRotation2 0.5s linear forwards;
        // }
    
        span:nth-child(3){
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to left, #0c002b, $bolt-blue);
            animation: slideRotation3 0.5s linear forwards;
        }
    
        // span:nth-child(4){
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 2px;
        //     height: 100%;
        //     background: linear-gradient(to top, #0c002b, $bolt-blue);
        //     animation: slideRotation4 0.5s linear forwards;
        // }

    }

    &:before {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        bottom: 2px;
        width: 50%;
    }

    
}


@keyframes slideRotation1 {

    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }

}

@keyframes slideRotation2 {

    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }

}

@keyframes slideRotation3 {

    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }

}

@keyframes slideRotation4 {

    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }

}