@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.homepage-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-title-header {
    text-align: left;
    padding-top: 6rem;
    width: 90%;
    position: relative;
    left: -10px;

    .info-title {
        color: limegreen;
        font-size: 0.75rem;
        margin: 0 0.25rem 1rem;
        letter-spacing: 3px;
        text-transform: uppercase;
        animation: colorRotationAnim 4s linear infinite;
    }

    .title {
        color: whitesmoke;
        font-size: 6rem;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        line-height: 1;
        letter-spacing: 1rem;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 1rem;
        width: 50%;
    }

    .text {
        color: whitesmoke;
        font-size: 1.1rem;
        margin: 3rem 0 4rem;
        letter-spacing: 3px;
        width: 96%;
    }    
    
}

@media screen and (max-width: 380) {
    
    .homepage-container {
        grid-template-columns: 2fr;
    }
    
    .main-title-header {

        .info-title {
        }

        .title {
            font-size: 2rem;
            line-height: 1.5;
        }

        .text {
            font-size: 0.9rem;
        }    
        
    }
  
}

@media screen and (max-width: 768px) {
    
    .homepage-container {
        grid-template-columns: 2fr;
    }
    
    .main-title-header {

        .info-title {
        }

        .title {
            font-size: 3rem;
            line-height: 1.5;
        }

        .text {
            font-size: 1rem;
        }    
        
    }
  
}

.resume-selection {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        background-color: $resumeBtn-color;
        border-radius: 6px;
        padding: 1rem;
        color: $textA;
        font-size: 1rem;
        text-transform: uppercase;
        margin: 2rem 1rem;
        cursor: pointer;

        &:hover {
            background-color: darken($color: $resumeBtn-color, $amount: 20%)
        }

        &:focus{
            outline: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}