
.section-meta-header {
    width: 100%;
    position: relative;
    z-index: 1;
}

.project-metadata {
    display: flex;
    justify-content: flex-start;

    .meta-block {
        display: flex;
        flex-direction: column;
        color: whitesmoke;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        width: 100%;

        .meta-heading {
            display: block;

            .meta-title {
                margin-bottom: 0;
                font-size: 1.2rem;
                font-weight: 400;
                font-family: 'Oswald', sans-serif;
                line-height: 1.75;
                text-transform: uppercase;
            }

        }
        
        .meta-content {
            width: 100%;

            .meta-list {
                padding-left: 0;

                .meta-item {
                    display: block;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    
                    .meta-description {
                        display: block;
                        text-align: left;
                        position: relative;
                    }

                }
                
            }

        }

    }   

}