@import '../../styles/variables.scss';

.hero {
    visibility: hidden;
    min-height: 20vh;

    .container {
        width: 1440px;
        min-width: 1440px;
        margin: 0 auto;

        .hero-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 24px;
            height: 60vh;

            .hero-content {
                font-family: 'Poppins';
                width: 50%;
                
                .hero-content-inner {
                    margin: 0;
                    color: #323232;

                    h1 {
                        color: whitesmoke;
                        font-weight: 500;
                        font-size: 3rem;
                        margin-bottom: 24px;
                        position: relative;
                        z-index: 1;

                        .hero-content-line {
                            margin: 0;
                            overflow: hidden;
                            height: 72px;

                            .hero-content-line-inner {

                            }

                        }
                        
                        span {
                            position: absolute;
                            color: darken($color: $textA, $amount: 40%);
                            font-size: 1rem;
                            z-index: -1;
                            left: -11px;
                            top: -7px;
                        }

                    }

                    p {
                        color: darken($color: whitesmoke, $amount: 50%);
                        font-size: 1.05rem;
                        line-height: 24px;
                        font-weight: 300;
                        padding-right: 48px;
                        margin-bottom: 56px;
                    }

                    .btn-row {
                        position: relative;
                        margin-left: 30px;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;

                        &::before{
                            position: absolute;
                            content: '';
                            width: 16px;
                            height: 1px;
                            background-color: #dfdfdf;
                            top: 50%;
                            left: -30px;
                        }

                        button {
                            border: none;
                            background-color: transparent;
                            color: whitesmoke;
                            font-size: 1rem;
                            padding: 0;
                            cursor: pointer;
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: 0.7px;
                            display: flex;
                            align-items: center;
                            position: relative;

                            &:focus{
                                outline: none;
                            }

                            .arrow-icon {
                                position: absolute;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #2a31fc;
                                height: 42px;
                                width: 42px;
                                border-radius: 20px;
                                left: 114px;
                            }

                        }

                    }

                }

            }

            .hero-images {
                width: 50%;
                position: relative;
                height: 60%;
                margin-bottom: 88px;

                .hero-images-inner {

                    .hero-image{
                        position: absolute;
                        overflow: hidden;
                        z-index: 1;
                        
                        &.boy {
                            bottom: -60px;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        
                        img {
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            width: 100%;
                        }

                    }

                }

            }

        }

    }

}

.infoBox {
    width: 70%;

    .project-infobox {
        background: #232025;
        padding: 2rem;
        margin-right: 1rem;
        position: relative;

        h2 {
            position: absolute;
            color: whitesmoke;
            font-size: 1.4rem;
            top: -20px;
        }

        .project-description {
            color: $textA;
        }

    }

}

.floorbg {
    background: #232025;
    height: 140px;
    width: 100vw;
    position: fixed;
    bottom: -2%;
    left: 0;
    transform: skew(-10deg, -1deg);
}