@import '../../styles/variables.scss';


.triangle {
    overflow: hidden;
    position: absolute; 
    width: 40em;
    height: 27em;
    top: -5px;
    z-index: 0;

    &:first-child {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 600px 1050px 0 0;
        border-color: #232125  transparent transparent transparent;
        left: 3rem;
    }
    
    &:nth-child(2) {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 1050px 1050px 0;
        border-color: transparent #232125  transparent transparent;
        right: 0;
    }

}

.header2-container {
    width: 80%;
    margin: 10vh auto 0;

    .header-block {
        position: relative;
        color: $textA;
        z-index: 1;

        .meta {
            font-size: 1.6rem;
            font-family: 'Oswald';
        }

        .title {
            font-size: 4rem;
            font-family: 'Poppins';
            margin-bottom: 1.5rem;
        }

        .context {
            font-size: 1.1rem;
        }
    }
}