.header-container {
    display: grid;    
    background-color: whitesmoke;
    grid-template-areas: "space space project project" "space space project project" "space space project project";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    min-height: 100vh;
    width: 100%;
    position: relative;
    top: 0rem;

    .project-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        grid-area: project;

        .project-metaTitle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            
            .project-title {
                position: relative;
                font-family: 'Poppins';
                font-size: 3rem;
                font-weight: 500;
                letter-spacing: 8px;
                z-index: 1;
            }

            .project-number {
                font-size: 1rem;
                font-weight: 300;
                font-family: 'Poppins';
                color: darken($color: white, $amount: 12%);
                position: absolute;
                text-align: right;
                z-index: 0;
                top: -0.5rem;
                left: 90%;
            }

            .project-type {
                font-size: 1rem;
                font-weight: 300;
                font-family: 'Poppins';
                line-height: 0;
                z-index: 1;
            }

        }

    }
}