@import '../../styles/variables.scss';

.header-container {
    display: flex;
    margin: 0 auto;
    width: 70%;
    flex-direction: column;

    .section-wrapper {
        width: 100%;

        &.section-wrapper-vertical {
            margin-bottom: calc(3.75rem + 1.25rem);
            margin-top: 2rem;
        }

        .section-content-padding {
            width: 90%;
        }

        .section-wrapper-content {
            display: flex;
            justify-content: space-between;
            background-color: #18161A;;

            .banner-image {
                width: 100%;
                height: 100%;
                position: relative;
                transition: opacity 125ms ease-in-out;
                min-height: 0.06rem;
                opacity: 1;
            }

            .left-col {
                width: 20%;
                text-align: right;
                margin-top: 2rem;

                .subtitle {
                    display: block;
                    color: $textA;
                    font-size: 1.4rem;
                    font-weight: 500;
                    padding: 2.2rem 0 0.5rem;
                    position: relative;
                    z-index: 1;

                    span {
                        position: absolute;
                        color: #8f8f8f;
                        font-size: 1rem;
                        z-index: -1;
                        right: -11px;
                        top: 20px;
                    }

                }
                
                .project-title {
                    color: $textA;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

            }

            .right-col {
                width: 75%;
                margin-top: 2rem;

                .project-info {
                    color: $textA;
                    font-size: 1.25rem;
                    letter-spacing: -0.01rem;
                    line-height: 1.25;
                }
                .project-title {
                    color: $textA;
                    font-size: 1rem;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }

                .markdown-wrapper {
                    padding: 0 0 3rem;
                    border-bottom: 0.06rem solid #353535;

                    &.info-wrapper {
                        background-color: #202020;
                        padding: 2rem;
                    }

                    p {
                        font-size: 1rem;
                        color: $textA;
                        letter-spacing: 0;
                        line-height: 1.625;
                    }

                }

            }

        }

    }

}

.floorbg {
    background: #232025;
    height: 140px;
    width: 100vw;
    position: fixed;
    bottom: -2%;
    left: 0;
    transform: skew(-10deg, -1deg);
}


.no-border {
    border: none !important;
}