 
.grid-gallery-portfolio {
    display: grid;
    grid-gap: 1.4rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    width: 100%;

    .image-block {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 2px 16px var(--shadow);
        }

    }

}
  
.horizontal-box {
    position: relative;
    grid-column: span 2;
}

.vertical-box {
    position: relative;
    grid-row: span 2;
}

.big-box {
    position: relative;
    grid-column: span 1;
    grid-row: span 2;
}
.long-box {
    position: relative;
    grid-column: span 1;
    grid-row: span 3;
}


.image-block__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.65s;

    &:hover {        
        background-color: #000000ab;

        .image-block__desc {
            color:white;
            font-size: 1rem;
            opacity: 1;
        }

    }

    &:after {
      content:'';
      width: 100%;
      height: 100%;
      background-color: #202020;
      opacity:0;
      position: absolute;
      top: 40%;
      transition:all .3s ease;
    }

    .image-block__title {
        color:white;
        font-size: 1.3rem;
        font-family: 'Oswald';
        font-weight: 100;
        text-align: center;
        letter-spacing:5px;
        transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
    }

    .image-block__desc {
        color:white;
        font-size: 1rem;
        opacity: 0;
    }

}