.portfolio-container {
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1;
  min-height: 100vh;

  .dot-grid {
    position: fixed;
    top: 0;
    left: 13%;
    z-index: 2;
  }
}
.portfolio-bg-overlay {
    position: relative;
    min-height: 100vh;
    width: 100%;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
.portfolio-bg-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 22, 26, 0.99); 
    z-index: 1;
}

.portfolio-item-bg-title {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    bottom: auto;
    opacity: 1; 
    z-index: 1;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s; 
}

.bg-title {
    line-height: .5;
    white-space: nowrap;
    letter-spacing: -.02em;
    font-size: 300px;
    font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    color: rgba(255, 255, 255, 0.015); 

}

.portfolio-details:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50%;
    background-image: url("/assets/images/pattern.svg"); 
    z-index: 15;
    background-repeat: repeat;
}


  @media screen and (max-width: 768px) {

    .portfolio-item-bg-title {
      -webkit-transform: rotate(-90deg) !important;
          -ms-transform: rotate(-90deg) !important;
              transform: rotate(-90deg) !important;
      -webkit-transform-origin: left bottom;
          -ms-transform-origin: left bottom;
              transform-origin: left bottom;
      left: -webkit-calc(100% - 50px) !important;
      left: calc(100% - 50px) !important;
      bottom: 15px !important;
      top: auto !important; 
    }
      .portfolio-item-bg-title .bg-title {
        font-size: 100px; 
    } 
}

.portfolio-bg-gradient-overlay {    
    width: 100%;
}

.portfolio-bg-gradient-overlay:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 22, 26, 0.7);
    z-index: 2;
}
.portfolio-details {
    position: relative;
    text-align: left;
    min-height: 60vh;
    width: 50%;
    z-index: 10;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

    @media screen and (min-width: 1025px) and (max-width: 1440px) {
     .portfolio-details {
        padding-bottom: 60px; } }

    @media screen and (max-width: 1024px) {
      .portfolio-details {
        padding-bottom: 40px; } }

    @media screen and (max-width: 768px) {
      .portfolio-details {
        padding-top: 100px;
        padding-left: 0;
        padding-right: 30px;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start; } 
        }

    
    .portfolio-details > * > *,
    .portfolio-details h3,
    .portfolio-details h2,
    .portfolio-details h1,
    .portfolio-details .video-module .btn-round .ion {
      color: #fff; }

      
    .portfolio-details-video {
      margin-bottom: 30px; }

      .portfolio-details-video .btn-play {
        display: inline-block; }

      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        .portfolio-details-video {
          margin-bottom: 25px; } }

      @media screen and (max-width: 1024px) {
        .portfolio-details-video {
          margin-bottom: 25px; } }

      @media screen and (max-width: 768px) {
        .portfolio-details-video {
          margin-bottom: 20px; } 
    }

    .portfolio-details-categories {
      margin-bottom: 20px; 
        width: 100%;
    }

    .portfolio-details-title h2 {
      color: #fff;
      font-size: -webkit-calc(46px + 26 * ( (100vw - 576px) / 1024));
      font-size: calc(46px + 26 * ( (100vw - 576px) / 1024)); 
    }

      @media screen and (max-width: 576px) {
        .portfolio-details-title h2 {
          font-size: 46px; } }

      @media screen and (min-width: 1600px) {
        .portfolio-details-title h2 {
          font-size: 72px;
          line-height: 72px;
        } }

      @media screen and (max-width: 768px) {
        .portfolio-details-title h2 {
          margin: 5px 0px 0px; } }

    .portfolio-details-title h3 {
      margin: 0;
      font-size: -webkit-calc(36px + 4 * ( (100vw - 576px) / 1024));
      font-size: calc(36px + 4 * ( (100vw - 576px) / 1024)); 
    }

      @media screen and (max-width: 576px) {
        .portfolio-details-title h3 {
          font-size: 36px; } }

      @media screen and (min-width: 1600px) {
        .portfolio-details-title h3 {
          font-size: 40px; } }

    .portfolio-details-description {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      position: relative;
      padding-top: 1.4rem;
    }

      .portfolio-details-description .short-description {
        color: #fff;
        font-size: -webkit-calc(16.6px + 1 * ( (100vw - 576px) / 1024));
        font-size: calc(16.6px + 1 * ( (100vw - 576px) / 1024));
        opacity: .6; 
    }

        @media screen and (max-width: 576px) {
          .portfolio-details-description .short-description {
            font-size: 16.6px; 
            } 
        }

        @media screen and (min-width: 1600px) {
          .portfolio-details-description .short-description {
            font-size: 19.6px; 
        } 

    }

    .portfolio-details-link {
      margin-top: 25px; 
    }

      @media screen and (max-width: 768px) {
        .portfolio-details-link {
          margin-top: 20px; } }

      .portfolio-details-link .btn {
            font-size: 1.4em;
            font-weight: 700;
        }

      .portfolio-details-link svg {
        fill: currentColor; }

    .portfolio-details-date {
      position: relative;
      display: inline-block;
      color: #fff; 
      font-weight: 500;
      font-size: 1.2rem;
      margin-left: 2rem;
    }
    .portfolio-details-date:before {
      position: absolute;
      content: '';
      background-color: #d90a2c;
      width: 4px;
      height: 4px;
      border-radius: 24px;
      bottom: 9px;
      left: -18px;
    }
  .portfolio-item-image {
    width: 65%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}


.portfolio-details-categories{
    display: flex;
    justify-content: flex-start;
}

.category-holder .category {
    font-weight: 500;
    font-size: 1.2rem;
}


.portfolio-details-headline{
    margin: 0;
}


.section01 {
  display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-rows: 120px;
    grid-auto-flow: dense;
    width: 80%;
    margin: 24vh auto;

}