@import '../../styles/variables.scss';
@import '../../styles/animations.scss';

.main-cont {
    background: #fefefe;
    position: relative;
    padding: 135px 155px;
    z-index: 11;
}

    
.first {
    padding: 115px 155px 135px;
    position: relative;

    &:before {
        content: " ";
        background-color: #c89e84;
        position: absolute;
        top: -5rem;
        left: 8rem;
        width: 2px;
        height: 150px;
        }

}

.top-space {
    top: 53vh;
    position: relative;
}

.project {
    position: relative;
    top: -5rem;
    
    .top-space.container {
        max-width: 1640px;
        margin: 0 auto;
    }

}

.body {
    position: absolute;
    min-height: 50% !important;
    width: 100%;
    z-index: 0;
    overflow: hidden;

    .bg {
        position: fixed;
        right: 0;
        background-image: url(/assets/images/tetris.jpg);
        background-position: center center;
        background-attachment: fixed;
        background-size: cover !important;
        min-height: 100% !important;
        width: 0%;
        z-index: 0;
        transition: width 0.25s ease-in-out, opacity 0.1s ease-in-out;
    }

    .project {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
        position: absolute;
    }
    
    .bg.cocktail {
        background: url(/assets/images/tetris.jpg) center center no-repeat fixed;
    }

    .gradient {
        z-index: 1;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: -moz-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.4) 99%, rgba(0, 0, 0, 0.4) 100%);
        background: -webkit-radial-gradient(center, ellipse cover, transparent 0%, rgba(0, 0, 0, 0.4) 99%, rgba(0, 0, 0, 0.4) 100%);
        background: radial-gradient(ellipse at center, transparent 0%, rgba(0, 0, 0, 0.4) 99%, rgba(0, 0, 0, 0.4) 100%);
    }

    .scene-zoom {
        animation-name: zoomIn;
    }
    
    .scene {
        animation: .38s ease-in both;
        -o-animation: .38s ease-in both;
        -moz-animation: .38s ease-in both;
        -webkit-animation: .38s ease-in both;
    }
}


.row {
    margin-right: -15px;
    margin-left: -15px;

    &:before {
        display: table;
        content: " ";
    }

    &:after {
        clear: both;
    }

}

.project-title {
    h1 {
        font-family: 'Stratum', sans-serif;
        font-size: 3.5em;
        letter-spacing: 0.045em;
    }
}

.project-details {
    display: flex;
    justify-content: flex-start;

    h3 {
        color: #BB8868;
        margin: 20px 0 28px;
        font-family: 'Stratum', sans-serif;
        font-size: 1em;
        letter-spacing: 1.75px;
        text-transform: uppercase;

        span {
            font-family: 'Crimson Text', serif;
            color: #2e2e2e;
            text-transform: none;
            font-size: 1em;
            letter-spacing: 1px;
            line-height: 1.825em;
        }
    }
    .project-context {
        width: 70%;

        .skills-used {
            color: #BB8868;
            margin: 20px 0 30px;
            letter-spacing: 0.5px;
        }
    
        .project-copy {
            font-size: 1.063em;
            letter-spacing: 0.5px;
            line-height: 1.8em;
        }

    }
    .col-right {
        width: 30%;
        text-align: right;
    }

}


.short-hr {
    height: 50px;
    width: 1px;
    background-color: #BB8868;
    position: absolute;
    float: right;
    top: 73px;
    right: 0px;
}

.pull-right {
    float: right!important;    
    width: auto;
}

.image-block {
    position: relative;
    .row {
        margin: 0 -6px;
        img {
            width: 100%;
        }
    }
}


.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.relative-row {
    display: table;
}


@media (min-width: 768px){
.col-sm-4 {
    width: 33.33333333%;
}
}