.section01-container {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 0 auto;
    
    .section-image01 {
        width: 80%;
        margin-top: 10%;
        align-items: left;
    }

    .section-text {
        padding: 16rem 0;
        color: whitesmoke;
        font-size: 1.1rem;
    }
}