



@keyframes colorRotationAnim
{

  0% {
    filter: hue-rotate(0deg);
  }

  100%{
    filter: hue-rotate(360deg);
  }

}



/* ------------ Annimations ------------ */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes slideInUp {
  from {
    top: 90vh;
    opacity: 0; }
  to {
    top: 83vh;
    opacity: 1; } }
@keyframes slideOutDown {
  from {
    top: 83vh;
    opacity: 1; }
  to {
    top: 90vh;
    opacity: 0; } }
@keyframes blackRightStart {
  from {
    transform: translate3d(95%, 0, 0);
    opacity: 0; }
  to {
    transform: translate3d(68%, 0, 0);
    opacity: 1; } }
@keyframes blackRightFinish {
  from {
    transform: translate3d(68%, 0, 0);
    opacity: 1; }
  to {
    transform: translate3d(95%, 0, 0);
    opacity: 0; } }
@keyframes blackLeftStart {
  from {
    transform: translate3d(-80%, 0, 0);
    opacity: 0; }
  to {
    transform: translate3d(-49%, 0, 0);
    opacity: 1; } }
@keyframes blackLeftFinish {
  from {
    transform: translate3d(-49%, 0, 0);
    opacity: 1; }
  to {
    transform: translate3d(-80%, 0, 0);
    opacity: 0; } }
@keyframes zoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }
@keyframes zoomOut {
  from {
    transform: scale(1.1); }
  to {
    transform: scale(1); } }
@keyframes fadeInDown {
  from {
    transform: translate3d(155px, -120%, 0);
    opacity: 0; }
  to {
    transform: translate3d(155px, -60%, 0);
    opacity: 1; } }
@keyframes fadeOutUp {
  from {
    transform: translate3d(155px, -60%, 0);
    opacity: 1; }
  to {
    transform: translate3d(155px, 100%, 0);
    opacity: 0; } }
@keyframes fadeInDownMobile {
  from {
    transform: translate3d(30px, -60%, 0);
    opacity: 0; }
  to {
    transform: translate3d(30px, 0%, 0);
    opacity: 1; } }
@keyframes fadeOutUpMobile {
  from {
    transform: translate3d(30px, 0%, 0);
    opacity: 1; }
  to {
    transform: translate3d(30px, 60%, 0);
    opacity: 0; } }
@keyframes leftMenuIn {
  from {
    transform: translate3d(-50%, 0, 0);
    opacity: 0; }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes leftMenuOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  to {
    transform: translate3d(-50%, 0, 0);
    opacity: 0; } }