@import 'variables.scss';
@import 'animations.scss';

body {
  background-color: $window-background;
}

a {
  color: $smallText-color;
  text-decoration: none;
  
  &:hover {
    color: darken(white, 80%);
  }

}

.grid-container {
  display: grid;
  grid-template-columns: 0.03fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "Sidebar ContentWindow ContentWindow ContentWindow" "Sidebar ContentWindow ContentWindow ContentWindow" "Sidebar ContentWindow ContentWindow ContentWindow";
  min-height: 100vh;
}

.Sidebar {
  position: fixed;
  grid-area: Sidebar;
  background-color: $sidebar-background;
  transition: 0.5s all;
  height: 100vh;
  z-index: 1;
}

.ContentWindow {
  display: grid;
  grid-template-columns: 1fr repeat(2, 0fr);
  grid-template-rows: repeat(3, minmax(75px, auto));
  gap: 1px 1px;
  grid-template-areas: "header header header" "maincontent maincontent maincontent" "footer footer footer";
  grid-area: ContentWindow;
  background-color: $window-background;
}

.header { grid-area: header; }

.maincontent { 
  grid-area: maincontent;
  overflow: hidden; 
}

.footer { grid-area: footer; }

.visible {
  display: block !important;
}

.hide {
  display: none !important;
}


.page-container {
  max-width: 70%;
  margin: 0 auto;
  padding: 0px 25px;
  position: relative; 
  height: 100%;

  .dot-grid {
    position: absolute;
    top: -23vh;
    left: -3%;
    animation: fadeIn 10s forwards;
  }
}



@media screen and (max-width: 768px) {

  .Sidebar {
    background-color: transparent;
  }

  .page-container {
    max-width: 100%;
  }

}

.fluid-container {
  display: flex;
  margin: 0 auto;
  width: 80%;
}


button {
  background-color: transparent;
  border: none;
  padding: 1rem;
}


.project-desc-subtitle {
  font-size: 1.2rem !important;
  font-weight: 500;
  margin: 1rem 0 0.15rem;
}

.project-desc-list {
  padding-left: 1rem;
  color: darken($color: $textA, $amount: 40%)
}