
$sidebar-background: rgb(17, 16, 19);
$window-background: #18161A;
$btn-background: rgb(34, 32, 36);

$icon-color: white;
$bolt-blue: #1670f0;

$textA: whitesmoke;
$smallText-color: #f5f5f52b;

$themecolor1: #d90a2c;
$theme-slogancolor: #f5f5f52b;

$btn-boxShadow: 0 10px 17px rgba(0,0,0,.25);
$btn-boxShadow-hover: 0 4px 1px rgba(0,0,0,.15);


$primaryFont: 'Poppins', sans-serif;
$resumeBtn-color: #5a47b1;