@import '../../styles/variables.scss';

.logo-block {   
    display: block;
    padding-top: 1rem;
    pointer-events: all;
    margin: 0.5rem 0 0 2rem;

    .site-logo {
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        pointer-events: all;
        width: 260px;
        min-height: 45px;
        color: $textA;

        a {
            position: relative;
            display: block;
            color: inherit;
            text-decoration: none;
        }
        
        .siteName {
            font-size: 1.1rem;
            font-weight: 300;
            font-family: $primaryFont;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                background-color: $themecolor1;
                width: 6px;
                height: 4px;
                border-radius: 24px;
                bottom: 6px;
                left: -8px;
            }
            
        }
        .slogan {
            color: $theme-slogancolor;
            position: relative;
            font-size: 0.75rem;
            bottom: -19px;
            left: -75px;
        }

    }
        
}