:root {
  --light: 80;
  /* The threshold at which colors are considered "light".
  Range: integers from 0 to 100. Recommended 50 - 70 */
  --threshold: 81;
}


/*--------------------------------------------------------------
### Main Nav
--------------------------------------------------------------*/
.main-nav {
  cursor: default;
  display: block;
  justify-content: flex-end;
  font-weight: 600;
  height: 100%;
  padding: 3rem 7rem 0 0;

  .menu {
    list-style: none;

    .menu-item-depth-0 {
      counter-increment: number;
      float: left;
      position: relative;
      position: relative;
      padding: 0;
      height: 100%;

      a {
        line-height: inherit;
        padding: 0 1.35vw;
        display: flex;
        align-items: center;
        height: 100%; 
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        text-decoration: none;
        --switch: calc((var(--light) - var(--threshold)) * -100%);  
        color: hsl(0, 0%, var(--switch));

        span {
          position: relative; 

          &:before {
            content: "0" counter(number);
            display: inline-block;
            opacity: 1;
            font-weight: bold;
            width: auto;
            top: -10px;
            right: 0;
            line-height: 20px;
            font-size: .6em;
            position: absolute;
            height: auto;
            background: transparent;
            opacity: .7; 
          }

        }

      }

    }

    &:hover .menu-item-depth-0 > a:not(:hover) {
      opacity: .6;
    }

  }

}


@media screen and (max-width: 812px) {
  .main-nav {
    display: none; } 
}