

.latest-work-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    .btn-square {
        top: -10%;
        padding: 2rem 3rem;
        cursor: pointer;
    }

    .sub-title {
        text-align: right;
        color: whitesmoke;
        font-size: 1.1rem;
        font-weight: 400;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 1rem;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        margin-bottom: 1rem;
    }

    .latest-work {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 80%;
        margin-bottom: 1rem;
        background-color: transparent;
        padding: 0;

        &:hover{

            .latest-work-header {
                
                .latest-work-title {
                    color: #1670f0;
                }
            }
        }

        .latest-work-header {
            text-align: right;
            width: 100% !important;
            background-color: transparent !important;
            box-shadow: none !important;
            height: 62px !important;
            margin: 0 !important;
            padding: 0.75rem !important;
            background-size: cover;
            position: relative;
            z-index: 500;

            .img-overlay {
                opacity: 0.5;
                background-color: rgba(0,0,0,0.2);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;                
                -webkit-box-shadow: 18px 18px 38px 1px rgba(0,0,0,0.3);
                -moz-box-shadow: 18px 18px 38px 1px rgba(0,0,0,0.3);
                box-shadow: 18px 18px 38px 1px rgba(0,0,0,0.3);
            }
            
            .latest-work-title {
                color: whitesmoke;
                font-weight: 400;
                margin-bottom: 0;
                transition: 0.5s;
            }
            
            .latest-work-type {
                color: whitesmoke;            
            }

            .latest-work-img {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
            }

        }
        
    }

}

.fadeIn {    
    animation: fadeIn 0.85s ease-in-out forwards;
}

.fadeOut {    
    animation: fadeOut 0.85s ease-in-out forwards;
}

@keyframes fadeIn {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@keyframes fadeOut {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


@media screen and (max-width: 768px) {
    
    .latest-work-container {    
        display: none;        
    }
  
}