@import '../../styles/variables.scss';

.modal-wrapper {
	position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    overflow: hidden;
    background: #000000a8;
	visibility: hidden;
    z-index: 2;

	.modal-inner {
		visibility: hidden;

		.modal-content {
			color: $textA;
			background-color: #18161A;
			border-radius: 8px;
			padding: 2rem;

			.modal-header {
				margin-bottom: 1.4rem;
				.modal-title{
					font-size: 2rem;
				}

			}
			
			.modal-body {

				button {

				}		

			}

			.modal-footer {
				text-align: right;
				
				.btn {
					background: black;
					color: $textA;
					border-radius: 6px;
				}
			}
		
		}

	}

}