@import '../../styles/variables.scss';

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 2rem;
    width: 94%;
    z-index: 1;
}

.copyright {
    color: #f5f5f52b;
    font-size: small;
    padding-right: 0.5rem;
}

.availablilty-text {
    color: $smallText-color;
    position: relative;
    font-size: 0.9rem;
    padding-left: 2.5rem;
}

@media screen and (max-width: 768px) {
  
    footer {
        display: none;
    } 
  
}