@import '../../styles/variables.scss';

.tab-gallery-btn-container {
    position: relative;
    top: 16vh;
    left: 8%;
    z-index: 5;

    .tab-gallery-title {
        color: $textA;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .btn-filter {
        outline: none;
        transition: all 0.3s linear;
        letter-spacing: 0.6px;
        color: $textA;
        cursor: pointer;
        font-weight: 600;
        margin: 0;
        padding: 0;
        position: relative;
        display: inline-block;
        background: transparent;
        border: 0;
        padding: 1rem;
        margin-bottom: 2rem;

        &:hover {            
            color: #95A5A6;
        }
    }

}

.grid-gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 80px 80px;
    width: 80%;
    height: 60%;

    .portfolio-showcase {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.65s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 0 2px 16px var(--shadow);
            opacity: 1;
            transition: 0.65s;
        }

        &:hover {
            background-color: black;

            img {
                opacity: 1;
            }
            
        }

    }

}
  
.horizontal {
    position: relative;
    grid-column: span 1;
}

.vertical {
    position: relative;
    grid-row: span 2;
}

.big {
    position: relative;
    grid-column: span 1;
    grid-row: span 2;
}
.long {
    position: relative;
    grid-column: span 1;
    grid-row: span 3;
}


.case-study__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: 0.65s;

    .case-study__title {
        color: $textA;
        font-size: 1.3rem;
        font-family: 'Poppins';
        font-weight: 500;
        text-align: center;
        transition: all .3s cubic-bezier(.3, 0, 0, 1.3);
    }

    .case-study__desc {
        color: $textA;
        font-size: 1rem;
    }

}