input {
    height: 32px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    background-color: #000000ba;
    padding: 0 8px;
    width: 97%;
    margin-bottom: 15px;
}

input:-internal-autofill-selected {
    background-color: #000000ba !important;
    background-image: none !important;
    color: white !important;
}