.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8rem;
    overflow: hidden;
    width: 100%;
    height: 60vh;

    .contact-wrapper {
        display: flex;
        justify-content: flex-start;
        padding: 0 14%;
        width: 100%;
        z-index: 1;
    }

}

.contact-header {
    flex-direction: column;
    text-align: left;
    width: 43%;

    .contact-header-title {
        color: whitesmoke;
        font-size: 4rem;
        margin-bottom: 2rem;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            background-color: red;
            width: 18%;
            height: 2px;
            bottom: -0.25rem;
        }

    }

    .contact-header-desc {
        display: block;
        color: grey;
        font-size: 1.1rem;
        width: 74%;
    }

}


.contact-formArea {
    width: 60%;
}

.contactForm {
    width: 60%;

    .btn-square {
        margin-left: 1.25rem;
    }
}

.form-row {
    display: flex;
}

.form-control {
    padding: 0.6rem;
    border: 1px solid #80808054;
    background-color: transparent;
    color: whitesmoke;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-right: 0.4rem;
    font-size: 1rem;
    font-family: 'Poppins';
    margin: 1rem 0;
    height: 1.4rem;
    width: 100%;
}

.align-blockRight {
    justify-content: flex-end !important;
}

textarea {
    color: white;
    display: block;
    height: 32px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    background-color: rgba(23, 22, 26, 0.04);
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 160px;
    resize: none;
    height: auto;
}

.field-wrapper {
    text-align: left;
    margin: 0 1.4rem;
    padding-bottom: 1rem;
    width: 100%;
    
    label {
        color: whitesmoke;
    }

    &:last-of-type(){
        margin-right: 0 !important;
    }
}

select {
    height: 3.3rem !important;
}

.contact-block {
  display: flex;
  flex-direction: column;
}

.contact-block-item {
  margin-top: 3rem;
  text-align: left;
  font-size: 1rem;
  color: grey;
 
  h3 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }

}


@media screen and (max-width: 768px) {

    .contact-section {
        height: 100%;
        padding-top: 2rem;

        .contact-wrapper {
            display: block;
            padding: 0 5%;

            .contact-header {
                width: 100%;
                margin-bottom: 4rem;

                .contact-header-desc {
                    width: 100%;
                }

            }

            .contactForm {
                width: 100%;

                .form-row {
                    display: block;

                    .fieldWrapper {
                        margin: 0;

                        .form-control {
                            width: 92%;
                        }
                    }

                }

                .btn-square {
                    display: block;
                    text-align: center;
                    width: 80%;
                }

            }

        }

    }
    
}

.no-mr {
    margin-right: 0;
}