.error-msg {
    display: block;
    color: red;
    font-size: 1rem;

}

.inputError {
    border: 2px solid brown;
}

.align-blockLeft {
    margin-left: 1.6rem;
    
    button {
        line-height: 0;
        cursor: pointer;
    }

}