:root {
    
}

.about-content {
    overflow: hidden;

    .about-intro {
        color: #8c8c8c;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }

    .skill-set {
        margin: 2rem;
        color: darken($color: whitesmoke, $amount: 20%);
    }

}
.section-services {
    padding: 10% 8.5rem;
    overflow: hidden;
    width: 60%;
}
.self-intro {
    width: 40%;
    overflow: hidden;
}

.section-services, .self-intro {
    padding: 10% 8.5rem;
    
    .row {
        display: flex;
        justify-content: space-evenly;

        .workType {
            display: flex;
            flex-direction: column;
            color: whitesmoke;
            font-family: 'Poppins', sans-serif;
            text-align: left;

            .workType-heading {
                display: block;

                h6 {
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

            }
            .software-content {
                display: flex;
                justify-content: space-between;
            }
            .workType-content, .software-content {
                width: 100%;

                .workType-list {
                    padding-left: 0;

                    .workType-item {
                        display: block;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        
                        .workType-word {
                            display: block;
                            text-align: left;
                            position: relative;
                        }

                    }
                    
                }

            }

        }   

    }

}


.section-title {
    color: whitesmoke;
    font-size: 54px;
    font-weight: 600;
    line-height: 1.59;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 1rem;
}

.highlight {
    color: whitesmoke;
}

.highlight-low {
    color: darken($color: #b98e59, $amount: 10%);
}

.page-label {
    color: #f5f5f554;
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 300;
    height: 41px;
    right: 5.5rem;
    position: absolute;
    bottom: 2.5%;
    text-transform: uppercase;
    text-align: right;
    z-index: 5;
    width: 9%;
}

@media screen and (max-width: 768px) {
    
    .section-services {
        padding: 12% 4rem;
        width: 62%;
    }

    .page-label {
        right: 10.5%;
        top: 3%;
    }
  
}


.selfie {
    position: absolute;
    overflow: hidden;
    bottom: 24px;
    top: 20%;
    right: 20%;
    width: 18%;
}

