.clb-popup {
padding: 5rem;
}
    .clb-popup .close-bar {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
    }


      .clb-popup .close-bar.text-left {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; 
        }

      .clb-popup .close-bar .btn-expand {
        display: inline-block; 
    }

    .clb-popup-holder {
      padding: 136px 10vw;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; 
    }


    @media screen and (min-width: 1025px) and (max-width: 1440px) {
    .clb-popup-holder {
        padding: 80px 10vw; } 
    }


    @media screen and (max-width: 768px) {
      .clb-popup {
        overflow-y: auto; 
    }
    .clb-popup-holder {
        height: auto;
        padding: 96px 25px;
    }
    .clb-popup .close-bar {
        position: fixed; 
    }
    .clb-popup .clb-slider-nav-btn {
        margin-right: 0 !important; } 
    }



  .clb-hamburger-nav-details {
        font-size: 0.94rem;
        color: #fff; 
    }

    .clb-hamburger-nav-details > * {
      margin-bottom: 25px; 
    }

    .clb-hamburger-nav-details > *:last-child {
      margin-bottom: 0; 
    }

    .clb-hamburger-nav-details .select-holder {
      display: inline-block; 
    }

    .clb-hamburger-nav-details .select-holder select {
        background-color: rgba(255, 255, 255, 0.03);
        color: #fff; 
    }

    .clb-hamburger-nav-details .hamburger-nav-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 40px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: rgba(255, 255, 255, 0.35); 
    }

      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 30px; } 
        }

      @media screen and (max-width: 1024px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 30px; } 
        }

      @media screen and (max-width: 768px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 20px; } 
        }

      .clb-hamburger-nav-details .hamburger-nav-info:last-child {
        padding-top: 0; 
    }
      .clb-hamburger-nav-details .hamburger-nav-info-item {
        text-align: left; 
    }
        .clb-hamburger-nav-details .hamburger-nav-info-item span {
          color: #fff; 
          font-size: 1rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

.clb-hamburger-nav-details .hamburger-nav-info-item {
    text-align: left;
    font-size: 1.1rem;
}
.clb-hamburger-nav:not(.centered):not(.type3) .hamburger-nav-info-item {
    width: 25vw;
}

.clb-hamburger-nav-details{
    display: flex;
    flex-direction: column;
}

.hamburger-nav-info {
    display: flex;
    justify-content: space-between;
    width: 27%;
}