@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .clb-hamburger-nav {
      padding: 30px; } }
  @media screen and (max-width: 1024px) {
    .clb-hamburger-nav {
      padding: 30px; } }
  @media screen and (max-width: 768px) {
    .clb-hamburger-nav {
      padding: 20px; } }
  .clb-hamburger-nav-holder {
    top: 40px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      .clb-hamburger-nav-holder {
        top: 30px; } }
    @media screen and (max-width: 1024px) {
      .clb-hamburger-nav-holder {
        top: 30px; } }
    @media screen and (max-width: 768px) {
      .clb-hamburger-nav-holder {
        top: 20px; } }
  .clb-hamburger-nav-details {
    font-size: 0.94rem;
    color: #fff; }
    .clb-hamburger-nav-details > * {
      margin-bottom: 25px; }
    .clb-hamburger-nav-details > *:last-child {
      margin-bottom: 0; }
    .clb-hamburger-nav-details .select-holder {
      display: inline-block; }
      .clb-hamburger-nav-details .select-holder select {
        background-color: rgba(255, 255, 255, 0.03);
        color: #fff; }
    .clb-hamburger-nav-details .hamburger-nav-info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding-top: 40px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      color: rgba(255, 255, 255, 0.35); }
      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 30px; } }
      @media screen and (max-width: 1024px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 30px; } }
      @media screen and (max-width: 768px) {
        .clb-hamburger-nav-details .hamburger-nav-info {
          padding-top: 20px; } }
      .clb-hamburger-nav-details .hamburger-nav-info:last-child {
        padding-top: 0; }
      .clb-hamburger-nav-details .hamburger-nav-info-item {
        text-align: left; }
        .clb-hamburger-nav-details .hamburger-nav-info-item b {
          color: #fff; }

.clb-hamburger-nav {
    margin: 10rem 0;
}
  .clb-hamburger-nav .menu {
    counter-reset: number;
    width: 25vw;
    position: relative;
    text-align: left;
    padding-left: 0;
 }
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      .clb-hamburger-nav .menu {
        width: -webkit-calc(100vw / 3);
        width: calc(100vw / 3); } }
    @media screen and (max-width: 1024px) {
      .clb-hamburger-nav .menu {
        width: -webkit-calc(100vw / 3);
        width: calc(100vw / 3); } }

    .clb-hamburger-nav .menu .has-submenu-icon i {
      color: rgba(255, 255, 255, 0.35); 
    }

    .clb-hamburger-nav .menu.menu-blank {
      width: auto;
      margin: 0;
      color: #fff; }
      .clb-hamburger-nav .menu.menu-blank a {
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
        visibility: visible;
        opacity: 1;
        padding: 0;
        font-weight: 600; }
    .clb-hamburger-nav .menu .menu-item-depth-0 {
      counter-increment: number; }
      .clb-hamburger-nav .menu .menu-item-depth-0 > a:before {
        content: "0" counter(number);
        display: inline-block;
        opacity: 1;
        font-weight: bold;
        width: auto;
        vertical-align: top;
        line-height: 20px;
        font-size: .25em;
        position: relative;
        height: auto;
        background: transparent;
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start;
        -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        color: rgba(255, 255, 255, 0.35); }
    .clb-hamburger-nav .menu .nav-item,
    .clb-hamburger-nav .menu .sub-nav-item {
      padding: 5px 50px 5px 0px;
      list-style-type: none;
      line-height: 1;
        position: relative;
    }
      .clb-hamburger-nav .menu .nav-item a,
      .clb-hamburger-nav .menu .sub-nav-item a {
        width: 100%;
        vertical-align: middle;
        font-size: 2.8em;
        font-weight: bold;
        font-size: -webkit-calc(1.8em + 1 * ( (100vw - 576px) / 1024));
        font-size: calc(1.8em + 1 * ( (100vw - 576px) / 1024));
        font-family: "Space Grotesk Bold", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        display: block;
        position: relative;
        z-index: 2;
        -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
        transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s; }
        @media screen and (max-width: 576px) {
          .clb-hamburger-nav .menu .nav-item a,
          .clb-hamburger-nav .menu .sub-nav-item a {
            font-size: 1.8em; } }
        @media screen and (min-width: 1600px) {
          .clb-hamburger-nav .menu .nav-item a,
          .clb-hamburger-nav .menu .sub-nav-item a {
            font-size: 2.8em; } }
        .clb-hamburger-nav .menu .nav-item a span,
        .clb-hamburger-nav .menu .sub-nav-item a span {
          line-height: 1.2;
          display: inline-block;
          color: #fff; }
      .clb-hamburger-nav .menu .nav-item div.sub-nav,
      .clb-hamburger-nav .menu .nav-item .sub-sub-menu,
      .clb-hamburger-nav .menu .sub-nav-item div.sub-nav,
      .clb-hamburger-nav .menu .sub-nav-item .sub-sub-menu {
        background: none;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 100%;
        -webkit-transition: .2s ease-in-out;
        -o-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        -webkit-transition-property: opacity, visibility;
        -o-transition-property: opacity, visibility;
        transition-property: opacity, visibility; }
        .clb-hamburger-nav .menu .nav-item div.sub-nav.visible,
        .clb-hamburger-nav .menu .nav-item .sub-sub-menu.visible,
        .clb-hamburger-nav .menu .sub-nav-item div.sub-nav.visible,
        .clb-hamburger-nav .menu .sub-nav-item .sub-sub-menu.visible {
          opacity: 1;
          visibility: visible;
          z-index: 1; }
      .clb-hamburger-nav .menu .nav-item div.sub-nav,
      .clb-hamburger-nav .menu .sub-nav-item div.sub-nav {
        position: absolute;
        min-width: 350px;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        @media screen and (max-width: 1024px) {
          .clb-hamburger-nav .menu .nav-item div.sub-nav,
          .clb-hamburger-nav .menu .sub-nav-item div.sub-nav {
            min-width: -webkit-calc(100vw / 3);
            min-width: calc(100vw / 3); }
            .clb-hamburger-nav .menu .nav-item div.sub-nav .sub-nav-item > a,
            .clb-hamburger-nav .menu .sub-nav-item div.sub-nav .sub-nav-item > a {
              padding-right: 15px; } }
        .clb-hamburger-nav .menu .nav-item div.sub-nav ul,
        .clb-hamburger-nav .menu .sub-nav-item div.sub-nav ul {
          width: 100%;
          display: inline-block; }
      .clb-hamburger-nav .menu .nav-item .sub-sub-nav,
      .clb-hamburger-nav .menu .sub-nav-item .sub-sub-nav {
        position: absolute;
        left: 100%;
        min-width: 350px;
        padding: 0;
        top: 0; }
        .clb-hamburger-nav .menu .nav-item .sub-sub-nav > .sub-sub-menu,
        .clb-hamburger-nav .menu .sub-nav-item .sub-sub-nav > .sub-sub-menu {
          left: 0; }
      .clb-hamburger-nav .menu .nav-item:hover > a.menu-link span,
      .clb-hamburger-nav .menu .nav-item .visible > a.menu-link span, .clb-hamburger-nav .menu .nav-item.active > a.menu-link span,
      .clb-hamburger-nav .menu .sub-nav-item:hover > a.menu-link span,
      .clb-hamburger-nav .menu .sub-nav-item .visible > a.menu-link span,
      .clb-hamburger-nav .menu .sub-nav-item.active > a.menu-link span {
        opacity: .5; }
      .clb-hamburger-nav .menu .nav-item:hover > a.menu-link:before,
      .clb-hamburger-nav .menu .nav-item .visible > a.menu-link:before, .clb-hamburger-nav .menu .nav-item.active > a.menu-link:before,
      .clb-hamburger-nav .menu .sub-nav-item:hover > a.menu-link:before,
      .clb-hamburger-nav .menu .sub-nav-item .visible > a.menu-link:before,
      .clb-hamburger-nav .menu .sub-nav-item.active > a.menu-link:before {
        -webkit-transform: translateX(15px);
            -ms-transform: translateX(15px);
                transform: translateX(15px);
        opacity: 0; }
      .clb-hamburger-nav .menu .nav-item:hover > a.menu-link .has-submenu-icon,
      .clb-hamburger-nav .menu .nav-item .visible > a.menu-link .has-submenu-icon, .clb-hamburger-nav .menu .nav-item.active > a.menu-link .has-submenu-icon,
      .clb-hamburger-nav .menu .sub-nav-item:hover > a.menu-link .has-submenu-icon,
      .clb-hamburger-nav .menu .sub-nav-item .visible > a.menu-link .has-submenu-icon,
      .clb-hamburger-nav .menu .sub-nav-item.active > a.menu-link .has-submenu-icon {
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg); }
      .clb-hamburger-nav .menu .nav-item:hover > a.menu-link .demo-icon,
      .clb-hamburger-nav .menu .nav-item .visible > a.menu-link .demo-icon, .clb-hamburger-nav .menu .nav-item.active > a.menu-link .ion,
      .clb-hamburger-nav .menu .sub-nav-item:hover > a.menu-link .demo-icon,
      .clb-hamburger-nav .menu .sub-nav-item .visible > a.menu-link .demo-icon,
      .clb-hamburger-nav .menu .sub-nav-item.active > a.menu-link .demo-icon {
        color: #d90a2c; }
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
      .clb-hamburger-nav:not(.centered):not(.type3) {
        padding-left: 60px; } }
    @media screen and (max-width: 1024px) {
      .clb-hamburger-nav:not(.centered):not(.type3) {
        padding-left: 40px; } }
    .clb-hamburger-nav:not(.centered):not(.type3) .menu .nav-item:hover > a.menu-link,
    .clb-hamburger-nav:not(.centered):not(.type3) .menu .sub-nav-item:hover > a.menu-link {
      -webkit-transform: translateX(15px);
          -ms-transform: translateX(15px);
              transform: translateX(15px); }
    .clb-hamburger-nav:not(.centered):not(.type3) .menu .nav-item:hover > .sub-sub-nav > .sub-sub-menu,
    .clb-hamburger-nav:not(.centered):not(.type3) .menu .sub-nav-item:hover > .sub-sub-nav > .sub-sub-menu {
      opacity: 1;
      visibility: visible; }
    .clb-hamburger-nav:not(.centered):not(.type3) .menu .menu-item-depth-0 > a:before {
      margin-right: 10px; }
    .clb-hamburger-nav:not(.centered):not(.type3) .hamburger-nav-info-item {
      width: 25vw; }
  .clb-hamburger-nav.centered .menu {
    /* Start alignment styles */
    /* End alignment styles */ }
    .clb-hamburger-nav.centered .menu .nav-item .menu-link,
    .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link {
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .clb-hamburger-nav.centered .menu .nav-item .menu-link:before,
      .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link:before {
        left: -20px; }
      .clb-hamburger-nav.centered .menu .nav-item .menu-link .btn-round-has-submenu,
      .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link .btn-round-has-submenu {
        right: -46px;
        top: 0; }
        .clb-hamburger-nav.centered .menu .nav-item .menu-link .btn-round-has-submenu .has-submenu-icon,
        .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link .btn-round-has-submenu .has-submenu-icon {
          position: static; }
  .clb-hamburger-nav.centered, .clb-hamburger-nav.type3 {
    display: block; }
    .clb-hamburger-nav.centered .page-container, .clb-hamburger-nav.type3 .page-container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      height: 100%; }
    .clb-hamburger-nav.centered .clb-hamburger-nav-holder, .clb-hamburger-nav.type3 .clb-hamburger-nav-holder {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow-x: hidden;
      overflow-y: scroll; }
      .clb-hamburger-nav.centered .clb-hamburger-nav-holder::-webkit-scrollbar, .clb-hamburger-nav.centered .clb-hamburger-nav-holder::-webkit-scrollbar-thumb, .clb-hamburger-nav.type3 .clb-hamburger-nav-holder::-webkit-scrollbar, .clb-hamburger-nav.type3 .clb-hamburger-nav-holder::-webkit-scrollbar-thumb {
        visibility: hidden; }
    .clb-hamburger-nav.centered .menu, .clb-hamburger-nav.type3 .menu {
      min-width: initial;
      text-align: center;
      width: 40vw; }
      .clb-hamburger-nav.centered .menu .nav-item,
      .clb-hamburger-nav.centered .menu .sub-nav-item, .clb-hamburger-nav.type3 .menu .nav-item,
      .clb-hamburger-nav.type3 .menu .sub-nav-item {
        padding-right: 0;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        text-transform: uppercase; }
        .clb-hamburger-nav.centered .menu .nav-item .menu-link,
        .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link, .clb-hamburger-nav.type3 .menu .nav-item .menu-link,
        .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link {
          position: relative;
          width: auto;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .clb-hamburger-nav.centered .menu .nav-item .menu-link span,
          .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link span, .clb-hamburger-nav.type3 .menu .nav-item .menu-link span,
          .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link span {
            padding: 0px 10px;
            -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
            -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
            transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s; }
          .clb-hamburger-nav.centered .menu .nav-item .menu-link .btn-round-has-submenu,
          .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link .btn-round-has-submenu, .clb-hamburger-nav.type3 .menu .nav-item .menu-link .btn-round-has-submenu,
          .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link .btn-round-has-submenu {
            max-height: 46px;
            z-index: 1; }
            .clb-hamburger-nav.centered .menu .nav-item .menu-link .btn-round-has-submenu .ion,
            .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link .btn-round-has-submenu .ion, .clb-hamburger-nav.type3 .menu .nav-item .menu-link .btn-round-has-submenu .ion,
            .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link .btn-round-has-submenu .ion {
              font-size: 18px; }
          .clb-hamburger-nav.centered .menu .nav-item .menu-link:before,
          .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link:before, .clb-hamburger-nav.type3 .menu .nav-item .menu-link:before,
          .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link:before {
            position: absolute; }
          .clb-hamburger-nav.centered .menu .nav-item .menu-link-cloned,
          .clb-hamburger-nav.centered .menu .sub-nav-item .menu-link-cloned, .clb-hamburger-nav.type3 .menu .nav-item .menu-link-cloned,
          .clb-hamburger-nav.type3 .menu .sub-nav-item .menu-link-cloned {
            position: absolute;
            top: 0;
            -webkit-transform: translateY(100%);
                -ms-transform: translateY(100%);
                    transform: translateY(100%);
            opacity: 0; }
        .clb-hamburger-nav.centered .menu .nav-item div.sub-nav,
        .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav,
        .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-nav,
        .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav, .clb-hamburger-nav.type3 .menu .nav-item div.sub-nav,
        .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav,
        .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-nav,
        .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav {
          max-height: 0vh;
          overflow: hidden;
          position: static;
          visibility: visible !important;
          opacity: 1 !important;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          -webkit-transition: all 0.9s 0s;
          -o-transition: all 0.9s 0s;
          transition: all 0.9s 0s; }
          .clb-hamburger-nav.centered .menu .nav-item div.sub-nav > ul,
          .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav > ul,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-nav > ul,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav > ul, .clb-hamburger-nav.type3 .menu .nav-item div.sub-nav > ul,
          .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav > ul,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-nav > ul,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav > ul {
            margin: 20px 0; }
          .clb-hamburger-nav.centered .menu .nav-item div.sub-nav .sub-nav-item a,
          .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav .sub-nav-item a,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-nav .sub-nav-item a,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav .sub-nav-item a, .clb-hamburger-nav.type3 .menu .nav-item div.sub-nav .sub-nav-item a,
          .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav .sub-nav-item a,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-nav .sub-nav-item a,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav .sub-nav-item a {
            font-size: 2.4em; }
        .clb-hamburger-nav.centered .menu .nav-item div.sub-nav.open-onclick,
        .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav.open-onclick,
        .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-nav.open-onclick,
        .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav.open-onclick, .clb-hamburger-nav.type3 .menu .nav-item div.sub-nav.open-onclick,
        .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav.open-onclick,
        .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-nav.open-onclick,
        .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav.open-onclick {
          max-height: 100vh;
          visibility: visible !important;
          opacity: 1 !important;
          -webkit-transform: none;
              -ms-transform: none;
                  transform: none; }
          .clb-hamburger-nav.centered .menu .nav-item div.sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav.open-onclick .showed-onclick, .clb-hamburger-nav.type3 .menu .nav-item div.sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-nav.open-onclick .showed-onclick,
          .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav.open-onclick .showed-onclick {
            -webkit-transform: none;
                -ms-transform: none;
                    transform: none;
            opacity: 1; }
        .clb-hamburger-nav.centered .menu .nav-item div.sub-sub-nav.open-onclick > .sub-sub-menu,
        .clb-hamburger-nav.centered .menu .sub-nav-item div.sub-sub-nav.open-onclick > .sub-sub-menu, .clb-hamburger-nav.type3 .menu .nav-item div.sub-sub-nav.open-onclick > .sub-sub-menu,
        .clb-hamburger-nav.type3 .menu .sub-nav-item div.sub-sub-nav.open-onclick > .sub-sub-menu {
          position: static;
          opacity: 1;
          visibility: visible; }
        .clb-hamburger-nav.centered .menu .nav-item:hover > .menu-link > span:not(.menu-link-cloned), .clb-hamburger-nav.centered .menu .nav-item.active > .menu-link > span:not(.menu-link-cloned),
        .clb-hamburger-nav.centered .menu .sub-nav-item:hover > .menu-link > span:not(.menu-link-cloned),
        .clb-hamburger-nav.centered .menu .sub-nav-item.active > .menu-link > span:not(.menu-link-cloned), .clb-hamburger-nav.type3 .menu .nav-item:hover > .menu-link > span:not(.menu-link-cloned), .clb-hamburger-nav.type3 .menu .nav-item.active > .menu-link > span:not(.menu-link-cloned),
        .clb-hamburger-nav.type3 .menu .sub-nav-item:hover > .menu-link > span:not(.menu-link-cloned),
        .clb-hamburger-nav.type3 .menu .sub-nav-item.active > .menu-link > span:not(.menu-link-cloned) {
          -webkit-transform: translateY(-110%);
              -ms-transform: translateY(-110%);
                  transform: translateY(-110%); }
        .clb-hamburger-nav.centered .menu .nav-item:hover > .menu-link > .menu-link-cloned, .clb-hamburger-nav.centered .menu .nav-item.active > .menu-link > .menu-link-cloned,
        .clb-hamburger-nav.centered .menu .sub-nav-item:hover > .menu-link > .menu-link-cloned,
        .clb-hamburger-nav.centered .menu .sub-nav-item.active > .menu-link > .menu-link-cloned, .clb-hamburger-nav.type3 .menu .nav-item:hover > .menu-link > .menu-link-cloned, .clb-hamburger-nav.type3 .menu .nav-item.active > .menu-link > .menu-link-cloned,
        .clb-hamburger-nav.type3 .menu .sub-nav-item:hover > .menu-link > .menu-link-cloned,
        .clb-hamburger-nav.type3 .menu .sub-nav-item.active > .menu-link > .menu-link-cloned {
          -webkit-transform: translateY(0);
              -ms-transform: translateY(0);
                  transform: translateY(0);
          opacity: .5; }
        .clb-hamburger-nav.centered .menu .nav-item:hover > .menu-link > .btn-round-has-submenu .has-submenu-icon, .clb-hamburger-nav.centered .menu .nav-item.active > .menu-link > .btn-round-has-submenu .has-submenu-icon,
        .clb-hamburger-nav.centered .menu .sub-nav-item:hover > .menu-link > .btn-round-has-submenu .has-submenu-icon,
        .clb-hamburger-nav.centered .menu .sub-nav-item.active > .menu-link > .btn-round-has-submenu .has-submenu-icon, .clb-hamburger-nav.type3 .menu .nav-item:hover > .menu-link > .btn-round-has-submenu .has-submenu-icon, .clb-hamburger-nav.type3 .menu .nav-item.active > .menu-link > .btn-round-has-submenu .has-submenu-icon,
        .clb-hamburger-nav.type3 .menu .sub-nav-item:hover > .menu-link > .btn-round-has-submenu .has-submenu-icon,
        .clb-hamburger-nav.type3 .menu .sub-nav-item.active > .menu-link > .btn-round-has-submenu .has-submenu-icon {
          -webkit-transform: rotate(90deg) !important;
              -ms-transform: rotate(90deg) !important;
                  transform: rotate(90deg) !important; }
  .clb-hamburger-nav.type3 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0; }
    .clb-hamburger-nav.type3 > .page-container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .clb-hamburger-nav.type3 .clb-hamburger-nav-holder {
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      max-width: 80%; }
      .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu {
        text-align: left;
        width: 100%;
        max-height: 80vh; }
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link,
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          overflow: hidden;
          padding-left: 20px; }
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link span,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link span {
            font-size: -webkit-calc(24px + 66 * ( (100vw - 576px) / 1024));
            font-size: calc(24px + 66 * ( (100vw - 576px) / 1024));
            white-space: nowrap;
            -o-text-overflow: ellipsis;
               text-overflow: ellipsis;
            overflow: hidden;
            line-height: .9; }
            @media screen and (max-width: 576px) {
              .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link span,
              .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link span {
                font-size: 24px; } }
            @media screen and (min-width: 1600px) {
              .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link span,
              .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link span {
                font-size: 90px; } }
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link:before,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link:before {
            top: 5%;
            left: 0; }
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link .has-submenu-icon,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link .btn-round-has-submenu,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link .has-submenu-icon,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link .btn-round-has-submenu {
            position: static; }
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link .has-submenu-icon,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link .has-submenu-icon {
            text-align: center; }
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item .menu-link-cloned,
          .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item .menu-link-cloned {
            width: 100%;
            -webkit-text-stroke: 1px currentColor;
            -webkit-text-fill-color: transparent; }
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item.menu-item-depth-0 > .menu-link > .menu-link-cloned,
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item.menu-item-depth-0 > .menu-link > .menu-link-cloned {
          width: -webkit-calc(100% - 50px);
          width: calc(100% - 50px); }
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .nav-item > .sub-menu-link > .menu-link-cloned,
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu .sub-nav-item > .sub-menu-link > .menu-link-cloned {
          width: -webkit-calc(100% - 30px);
          width: calc(100% - 30px); }
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu div.sub-nav .sub-nav-item a span,
        .clb-hamburger-nav.type3 .clb-hamburger-nav-holder .menu div.sub-sub-nav .sub-nav-item a span {
          font-size: 1.8em; }
    .clb-hamburger-nav.type3 .clb-hamburger-nav-details {
      max-width: 20%;
      padding-left: 40px; }
      @media screen and (min-width: 1025px) and (max-width: 1440px) {
        .clb-hamburger-nav.type3 .clb-hamburger-nav-details {
          padding-left: 30px; } }
      @media screen and (max-width: 1024px) {
        .clb-hamburger-nav.type3 .clb-hamburger-nav-details {
          padding-left: 30px; } }
      @media screen and (max-width: 768px) {
        .clb-hamburger-nav.type3 .clb-hamburger-nav-details {
          padding-left: 20px; } }
      .clb-hamburger-nav.type3 .clb-hamburger-nav-details .hamburger-nav-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        text-align: left; }
        .clb-hamburger-nav.type3 .clb-hamburger-nav-details .hamburger-nav-info-item {
          margin: 15px 0; }

.is-mobile-menu .clb-hamburger-nav {
  display: none; }

.subFont {
    font-size: 2rem;
}


.clb-hamburger-nav .has-submenu > a .has-submenu-icon,
.clb-hamburger-nav .has-submenu > a .btn-round-has-submenu {
  display: block;
  position: absolute;
  color: red;
  top: -webkit-calc(50% - 8px);
  top: calc(50% - 8px);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(47deg);
      -ms-transform: rotate(47deg);
          transform: rotate(47deg);
  right: 0;
  font-size: 0.94rem;
  display: inline-block;
  line-height: 0;
  -webkit-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  -o-transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
  opacity: .75; }


  .sub-menu {
    padding: 0;
  }