.project-details-meta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;

    .category {    
        position: relative;
        margin-right: 1.2rem;
        color: darken($color: white, $amount: 30%);

        &:first-child {

            &:before {
                content: none;
            }
            
        }

        &:last-child {            
            margin-right: 0;
        }

        &:before {
            position: absolute;
            content: '/';
            color: #d90a2c;
            width: 4px;
            height: 4px;
            border-radius: 24px;
            top: 0px;
            left: -12px;
        }

    }

}