.site-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.site-header .header-wrap {
    position: relative;
    z-index: 1;
    height: 130px;
}

.header-wrap-inner {
    display: flex;
    justify-content: space-between;
}

.right-part {
    display: flex;
    justify-content: flex-end;
}


@media screen and (max-width: 768px) {
  
    .site-header {
      margin-left: 2rem;
    }
  
  
  }