.project-pagination-container {
    //background-color: #252525;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 20vh;
    width: 100%;
    background-size: cover;
    background-image: none;
    transition: all .4s cubic-bezier(.785,.135,.15,.86);
    position: relative;
    bottom: 0;

    .project-container {
        width: 100%;
        background-color: #0000009e;
        border-right: 1px solid #80808036;
        padding: 4rem 12rem 0;
        margin: 0;

        .project-container-inner {
            cursor: pointer;
            text-align: right;            
            width: 100%;

            .project-pagination-info{
                display: flex;
                justify-content: space-between;

                .project-pagination-arrow {
                    font-size: 2rem;
                    color: whitesmoke;
                }

                .project-name {
                    color: whitesmoke;
                    font-family: 'Poppins', sans-serif;
                    font-size: 2rem;
                    font-weight: 300;
                }

            }
            
            .project-pagination-label-prev {
                color: whitesmoke;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                padding: 2rem 0;
            }
            
            .project-pagination-label-next {
                color: whitesmoke;
                text-transform: uppercase;
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;
                padding-bottom: 1rem;
            }

            .project-pagination-label-empty {
                height: 2.5rem;
            }

        }

        &:last-child {

            .project-container-inner {
                text-align: left;
            }

        }

    }

}