.slider-btns {
    position: fixed;
    left: 0;
    bottom: 2rem;
    z-index: 4;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center !important;

    button {
        &:first-child {
            margin-right: 1rem;
        }
    }
}
.active {
    background-color: black !important;
}