textarea {
    color: white;
    display: block;
    height: 32px;
    border: 1px solid #1b1b1b;
    border-radius: 3px;
    background-color: rgba(23, 22, 26, 0.04);
    padding: 8px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 15px;
    min-height: 160px;
    resize: none;
}